//COLORS
$background-color: #dbf2ff;
$primary-color-black: #000000;
$primary-color-white: #ffffff;


//FONTS
$default-font-size: 1.4rem;
$header-heading-primary: 5rem;
$header-heading-secondary: 2.4rem;